#behind_dialog {
	display:none;
	position:absolute;
	left:0;
	top:0;
	background:#000;
	opacity:0;
	filter:alpha(opacity=0);
}


#dialog {
	position:fixed;
	display:none;
	z-index:1001;
}

#outer {
	background: url('black50.png'); 
	position:relative;
	margin:1em 0;
}

#dialog_content {
	background-color:#DFDBC3;
	text-align:center; 
	border:1px solid #555; 
	position:relative; 
	font-weight:normal;
	padding:10px;
	font-size:15px;
	left:-5px;
	top:-5px;
}

#drag_here {
	position:absolute;
	top:-5px;
	left:-5px;
	height:30px;
	z-index:1100;
	cursor:move;
}

.tall {
	max-height:400px;
	overflow:auto;
}

.left {
	text-align:left;
}

.small {
	font-size:10px;
}

fieldset div {
	padding:2px;
}
