.out {
	background: url('black50.png'); 
	position:relative;
	margin:1em 0;
}
.in {
	background-color:#DFDBC3;
	text-align:center; 
	border:1px solid #555; 
	position:relative; 
	font-weight:normal;
	padding:10px;
}
.ltin {
	left:-5px;
}
.tpin {
	top:-5px;
}
.narrow {width:8em;} /* change to suit */
