.menu {padding:0 12px 0 12px; margin:0; list-style:none; height:35px; display:table; background:#FFFFE6 repeat-x; position:relative; font-family:arial, verdana, sans-serif; }
.menu li.top {display:block; float:left; position:relative;}
.menu li span {display:block; float:left; height:35px; line-height:35px; color:#999; text-decoration:none; font-size:13px; font-weight:bold; padding:0 6px 0 6px;}
.menu li a.top_link {display:block; float:left; height:35px; line-height:35px; color:#bbb; text-decoration:none; font-size:13px; font-weight:bold; padding:0 6px 0 6px; cursor:pointer;}
.menu li a.top_link span {float:left; font-weight:bold; display:block; padding:0 24px 0 12px; height:35px;}
.menu li a.top_link span.down {float:left; display:block; padding:0 24px 0 12px; height:40px; background:url(images/down.gif) no-repeat right top;}
.menu li a.top_link:hover {color:#000; }

.menu li:hover > a.top_link {color:#000;}

.menu table {border-collapse:collapse; width:0; height:0; position:absolute; top:0; left:0;}

.menu a:hover {visibility:visible;}
.menu li:hover {position:relative; z-index:200;}

.menu ul, 
.menu :hover ul ul, 
.menu :hover ul :hover ul ul,
.menu :hover ul :hover ul :hover ul ul,
.menu :hover ul :hover ul :hover ul :hover ul ul {position:absolute; top:-9999px; left:-9999px; display:none; list-style:none;}

.menu :hover ul.sub {display:block; left:-2px; top:35px; right:2px; background: #FFFFE6; padding:3px 0; white-space:nowrap; width:300px; height:auto;}
.menu :hover ul.sub li {display:block; height:20px; position:relative; float:left; width:250px;}
.menu :hover ul.sub li span {font-weight:normal;display:block; font-size:11px; height:20px; width:286px; line-height:20px; text-indent:5px; color:#bbb; text-decoration:none; border:3px solid #fff; border-width:0 0 0 3px;}
.menu :hover ul.sub li a {font-weight:normal;display:block; font-size:11px; height:20px; width:297px; line-height:20px; text-indent:10px; color:#000; text-decoration:none; border:3px solid #fff; border-width:0 0 0 3px;}
.menu :hover ul.sub li a:hover {background:#999999; color:#fff;}
.menu :hover ul.sub li a.fly:hover {background:#999999; color:#fff;}
.menu :hover ul li:hover > a.fly {background:#999999; color:#fff;} 

.menu :hover ul :hover ul,
.menu :hover ul :hover ul :hover ul,
.menu :hover ul :hover ul :hover ul :hover ul,
.menu :hover ul :hover ul :hover ul :hover ul :hover ul
{left:90px; top:-4px; background: #fff; padding:3px 0; border:1px solid 999999; white-space:nowrap; width:93px; z-index:200; height:auto;}

.schedule_message, .schedule_message a {
	font-size:13px;
	color:#CCC;
}
.schedule_message {
	float:left;
	position:relative;
	left:10px;
	top:10px;
}

