.top{
border-bottom: 1px solid gray;
margin-bottom:15px;
}

.top ul{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font-size:13px;
font-weight:bold;
font-family:arial, verdana, sans-serif;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.top li{
display: inline;
margin: 0;
}

.top li a {
text-decoration: none;
padding: 3px 7px;
margin-right: 3px;
color:#BBB;
}

.top li span {
padding: 3px 7px;
margin-right: 3px;
color:#999;
}

.top li a:visited {
}

.top li a:hover {
color: black;
}

.top li.selected{
}

.top li.selected a{ /*selected main tab style */
color:black;
border-bottom-color: white;
}

.top li.selected a:hover { /*selected main tab style */
text-decoration: none;
}

/* ######### Style for Drop Down Menu ######### */

.sub{
position:absolute;
top: 0;
border: 1px solid #918d8d; /*THEME CHANGE HERE*/
border-width: 0 1px 1px;
line-height:18px;
z-index:100;
background-color: #FFFFE6;
width: 200px;
font-size:11px;
visibility: hidden;
}


.sub a, .sub span {
width: auto;
display: block;
text-indent: 5px;
padding: 2px 0;
text-decoration: none;
color: black;
}

* html .sub a{ /*IE only hack*/
width: 100%;
}

.sub a:hover { /*THEME CHANGE HERE*/
background-color: #CCC;
}

.changes {
	position:absolute;
	right:0;
	top:0;
	margin-top: 8px;
	font-size:13px;
	font-weight:bold;
	font-family:arial, verdana, sans-serif;
	padding: 3px 7px;
	margin-right: 3px;
	color:#999;
}

.changes span {
	display:none;
	position:absolute;
	right:6px;
	top:25px;
	font-size:11px;
	white-space:nowrap;
}
