@media screen {
	.dayoff_bg {
		background-color:#DDDDDD;
	}

	.dayoff_x {
		display:none;
	}
}

@media print {
	.no_print {
		display:none;
	}

	.dayoff_x {
		font-family:Arial, Helvetica, sans-serif;
		font-size:18px;
	}
}

div.shift {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	padding-top:10px;
}

.select_shift {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.const, span.const a {
	color:#999999;
}

span.const a:hover {
	background-color:#FFF8BA;
}

.extra {
	font-size: 20px;
	padding:5px;
}

a:link.extra, a:visited.extra {
	font-size: 20px;
	padding:5px;
}

a:link.extra_blank, a:visited.extra_blank {
	font-size: 20px;
	padding:5px;
	color: #999999;
}

a:hover.extra_blank, a:hover.extra {
	background-color:#FFF8BA;
	text-decoration: none;
}


a:hover.dayoff {
	background-color:#FFF8BA;
	text-decoration: none;
}

a:link, a:visited {
	text-decoration: none;
	color: #000000;
}

a:hover {
	background-color:#FFF8BA;
}

a:hover.remove {
	text-decoration:line-through;
}

.taken {
	color:#777777;
}


.title {
	font-size: 24px;
}

.email {
	font-size: 10px;
}


a.redo {
	font-size: 12px;
	position:absolute;
	top:1em;
	left:3em;
	padding:2px;
}

.undo {
	font-size: 12px;
	position:absolute;
	top:0;
	left:0;
	padding:2px;
}

.schedule_message, .schedule_message a {
	font-size:13px;
	color:#CCC;
	font-weight:bold;
}

.schedule_message a:hover {
	color:#777;
}

.schedule_message {
	clear:both;
	position:relative;
	top:-10px;
	left:7px;
}

a.button {
	text-decoration:underline;
	margin:8px;
	color:#AAA;
}

a.add {
	display:none;
	font-size:10pt;
	position:absolute;
	padding:3px;
	background-color:#DDDDDD
}
